html {
  font-family: 'PT Sans', sans-serif;
  background: #222;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background: #222 linear-gradient(#333, #222) center top no-repeat;
  background-size: 100vw 80vh;
}
body {
  max-width: 920px;
  margin: 0 auto;
}
h1 {
  font-family: 'Bree Serif', serif;
}
a[target="_blank"]:after {
  content: '';
  display: inline-block;
  outline: 1 px solid #f00;
  width: 16px;
  height: 16px;
  background: transparent url("../img/external.svg") center center no-repeat;
  background-size: contain;
  opacity: 0.5;
}
a[target="_blank"]:hover:after {
  opacity: 1;
}
menu {
  padding: 0;
  text-align: center;
  margin-bottom: 40px;
}
menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
menu ul li {
  display: inline-block;
  margin-right: 10px;
}
menu a,
footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}
menu a:not(:hover),
footer a:not(:hover) {
  opacity: 0.75;
}
menu a:hover,
footer a:hover {
  text-decoration: underline;
}
menu a[target="_blank"]:after,
footer a[target="_blank"]:after {
  background-image: url("../img/external-white.svg");
}
header {
  color: #fff;
  text-align: center;
  margin-bottom: 32px;
}
header h1 {
  font-size: 72px;
  margin-bottom: 16px;
  color: #0fb;
  text-shadow: 2px 2px 2px rgba(255,255,255,0.25);
  background: linear-gradient(45deg, #0fb, #0bf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
header h1 #logo {
  width: 48px;
  height: 48px;
  vertical-align: -4px;
  margin-right: 4px;
}
header h2 {
  margin: 0 0 10px 0;
}
section {
  box-sizing: border-box;
  background: linear-gradient(#f6f7f3, #eee);
  padding: 20px;
  margin-bottom: 20px;
}
section h2 {
  margin-top: 0;
}
section a {
  text-decoration: none;
}
section a:hover {
  text-decoration: underline;
}
section .download {
  line-height: 32px;
  margin-bottom: 5px;
}
section .download a:before {
  content: '';
  display: inline-block;
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 10px;
  background: url("../img/zip2.svg") center center no-repeat;
  background-size: contain;
}
footer {
  padding: 40px 20px 20px 20px;
  text-align: center;
  color: #aaa;
}
