html
	font-family 'PT Sans', sans-serif
	background #222
	-moz-osx-font-smoothing grayscale
	-webkit-font-smoothing antialiased
	background #222 linear-gradient(#333, #222) center top no-repeat
	background-size 100vw 80vh

body
	max-width 920px
	margin 0 auto

h1,h2
	font-family 'Bree Serif', serif
	font-size 72px
	margin-bottom 16px
	text-shadow 2px 2px 2px rgba(255,255,255,.25)
	text-align center
	color #0fb
	background linear-gradient(45deg, #0fb, #0bf)
	-webkit-background-clip text !important
	-webkit-text-fill-color transparent !important

	&#donate
		color #f0b
		background-image linear-gradient(45deg, #f0b, #fb0)

h2
	font-size 48px
	color #f0b
	background-image linear-gradient(45deg, #fb0, #0fb)

h3
	font-size 32px




a
	&[target="_blank"]
		&:after
			content ''
			display inline-block
			width 16px
			height 16px
			background transparent url('../img/external.svg') center center no-repeat
			background-size contain
			opacity .5

		&:hover:after
			opacity 1


header
	color #fff
	text-align center
	margin-bottom 32px

	h1

		#logo
			width 48px
			height 48px
			vertical-align -4px
			margin-right 4px

	h3
		margin 0 0 10px 0


menu
	padding 0
	text-align center
	margin-bottom 40px

	ul
		list-style-type none
		padding 0
		margin 0

		li
			display inline-block
			margin 0 20px
			text-transform uppercase

menu,footer
	a
		color #fff
		text-decoration none
		display inline-block
		font-weight bold

		&:not(:hover)
			opacity .75

		&:hover
			text-decoration underline

		&[target="_blank"]
			&:after
				background-image url('../img/external-white.svg')


section
	box-sizing border-box
	background linear-gradient(#F6F7F3, #EEEEEE)
	padding 20px
	margin-bottom 20px

	h2
		margin-top 0
		font-size 28px

	a
		text-decoration none

		&:hover
			text-decoration underline

	.downloads
		display flex
		flex-wrap wrap
		margin-top 40px

		.download
			font-size 120%
			flex 1
			margin-bottom 20px
			text-align center

			a
				line-height 48px
				height 48px
				display inline-block
				padding 5px 20px
				border-radius 4px
				box-shadow 2px 2px 4px rgba(0,0,0,.25)
				background linear-gradient(-45deg,darken(#5d5,25),darken(#5d5,10))
				margin-right 4px
				color #fff
				font-weight bold
				white-space pre

				&:before
					content ''
					display inline-block
					width 32px
					height 32px
					vertical-align middle
					margin-right 10px
					background url('../img/download.svg') center center no-repeat
					background-size contain

				&:not(:hover):before
					opacity .5

section.dark
	text-align center
	background transparent
	color #fff
	max-width 640px
	margin 0 auto

	a[target="_blank"]
		margin 20px
		line-height 33px
		display inline-block
		box-shadow 0 0 5px #fb0
		padding 5px 10px
		border-radius 4px
		background-color lighten(#fb0,35)
		transition box-shadow .25s ease, background-color .25s ease
		border 1px solid #bbb

		&:after
			content none

		&:hover
			box-shadow 0 0 15px lighten(#fb0,35)
			background-color lighten(#fb0,45)

		img
			vertical-align middle

footer
	padding 40px 20px 20px 20px
	text-align center
	color #aaa
